:host.cell {
    display: table-cell;
    cursor: pointer;
    border: 1px black solid;
}

:host.empty {
    display: table-cell;
    cursor: default;
    border: 1px black solid;
    background: lightgray !important;
}