<div #wrapper class="wrapper">
    @for(tile of this.puzzleService.tiles; track tile) {
        <ng-container *ngComponentOutlet="component; inputs: {data: {row: tile.row, column: tile.column}}"></ng-container>
    }
</div>

@if(finished) {
    <p>Lekker bezig! Je hebt de puzzel opgelost. Klik op shuffle om opnieuw te beginnen.</p>
}

<div class="options">
    <button class="button" (click)="puzzleService.newGame()">New Game</button>
    <button class="button" (click)="puzzleService.shuffle()">Shuffle</button>
    <form [formGroup]="this.optionsForm">
        <div>
            <label>Aantal keer shufflen van de puzzel </label>
            <input type="number" formControlName="shuffleCount">
        </div>
    </form>
</div>
